<body>
<link rel="stylesheet" href="/styles/adminStyle.css">

<div class="button"><a href="/admin/descriptions/<?= $projectId ?>">Back all media</a></div>

<h1>Add or edit description</h1>

<form method="post" enctype="multipart/form-data">
    <input type="" hidden name="descriptionId" value="<?php if (isset($description['descriptionId'])) echo $description['descriptionId'];?>">
    Title:<br>
    <input type="text" name="title" value="<?php if (isset($description['title'])) echo $description['title']; ?>">
    <br>Tags (select multiple by holding control/command):<br>
    <select class="multiselect" multiple name="tags[]">
        <?php
        foreach ($tags as $tag) {
            if (isset($selectedTags)) {
                $selected = false;
                foreach ($selectedTags as $selectedTag) {
                    if ((int)$selectedTag['tag_id'] == (int)$tag['id']) {
                        $selected = true;
                    }
                }
                if ($selected) {
                    echo "<option value=\"" . $tag['id'] . "\" selected>" . $tag['tag_name'] . "</option>";
                } else {
                    echo "<option value=\"" . $tag['id'] . "\" >" . $tag['tag_name'] . "</option>";
                }
            } else {
                echo "<option value=\"" . $tag['id'] . "\">" . $tag['tag_name'] . "</option>";
            }
        } ?>
    </select>
    <br>Client:<br>
    <textarea name="client"><?php if (isset($description['client'])) echo $description['client']; ?></textarea>
    <br>Objective:<br>
    <textarea name="objective"><?php if (isset($description['objective'])) echo $description['objective']; ?></textarea>
    <br>Concept:<br>
    <textarea name="concept"><?php if (isset($description['concept'])) echo $description['concept']; ?></textarea>
    <br>Date:<br>
    <input type="date" name="date" value="<?php if (isset($description['date'])) echo $description['date']; ?>">
    <br><br>
    <input class="end button" type="submit" value="SAVE">
</form>
</body>