<body>
<link rel="stylesheet" href="/styles/adminStyle.css">

<div class="button"><a href="/admin/description-images/<?= $projectId ?>/<?= $descriptionId ?>">Back all images</a></div>

<h1>Add new image</h1>
<form method="post" enctype="multipart/form-data">

<br><br>Image:<br>
<input type="file" accept="image/*" id="image" name="image">

<br><br>Image description:<br>
<input type="text" name="imgDescription">
<br><br>
<input class="button" type="submit" value="SAVE">
</form>
</body>