<body>
<link rel="stylesheet" href="/styles/adminStyle.css">

<div class="button"><a href="/admin/description-media/<?= $projectId ?>/<?= $descriptionId ?>">Back to all media</a></div>

<h1>Add new media</h1>

<form method="post" enctype="multipart/form-data">
    <input type="" hidden name="mediaId" value="<?php if (isset($media['id'])) echo $media['id'];?>">
    Url:<br>
    <input type="text" name="url" value="<?php if (isset($media['url'])) echo $media['url']; ?>">
    <br><br>Type:<br>
    <select name="type">
        <option value="0" <?php if (isset($media) && $media['type'] == 0) echo "selected"?>>Youtube</option>
        <option value="1" <?php if (isset($media) && $media['type'] == 1) echo "selected"?>>Vimeo</option>
        <option value="2" <?php if (isset($media) && $media['type'] == 2) echo "selected"?>>Soundcloud</option>
    </select>
    <br><br>
    <input class="button" type="submit" value="SAVE">
</form>
</body>