<body>
<link rel="stylesheet" href="/styles/adminStyle.css">

<div class="button"><a href="/admin">BACK TO ADMINISTRATION</a></div>

<h1>Add new project</h1>

<form method="post" enctype="multipart/form-data">
    <input type="" hidden name="projectId" value="<?php if (isset($projectId)) echo $projectId;?>">
    Title:<br>
    <input type="text" name="title" value="<?php if (isset($title)) echo $title; ?>">

    <br><br>Main image:<br>
    <input type="file" accept="image/*" id="mainImageId" name="mainImage">

    <br>Main image description:<br>
    <input type="text" name="imgDescription" value="<?php if (isset($mainImage)) echo $mainImage['img_description']; ?>">

    <br><br>
    <input class="button" type="submit" value="SAVE">
</form>
</body>