<body>
<link rel="stylesheet" href="/styles/adminStyle.css">

<div class="button"><a href="/admin">BACK TO ADMINISTRATION</a></div>

<h1>Add new tag</h1>

<form method="post">
    <input type="" hidden name="tagId" value="<?php if (isset($tagId)) echo $tagId;?>">
    Tag name:<br>
    <input type="text" name="tagName" value="<?php if (isset($tagName)) echo $tagName; ?>">
    <br><br>
    <input class="button" type="submit" value="SAVE">
</form>

</body>