<body>
<link rel="stylesheet" href="/styles/adminStyle.css">

<h1>Administration</h1>

<a class="button" href="/logout">LOGOUT</a>
<h1>All projects</h1>
<table>
    <tr>
        <td>Title</td>
        <td>All descriptions</td>
        <td></td>
        <td></td>
    </tr>
    <?php
        foreach ($projects as $project) {
            echo "<tr>";
            echo "<td>" . $project['title'] . "</td>";
            echo "<td><a href='/admin/descriptions/" . $project['id'] ."'>Descriptions</a></td>";
            echo "<td><a href='/admin/add-project/" . $project['id'] ."'>Edit</a></td>";
            echo "<td><a href='/remove-project/" . $project['id'] ."' onclick=\"return confirm('Are you sure you want to delete?')\">Remove</a></td>";
            echo "</tr>";
        }
    ?>
</table>

<div style="padding-top: 40px;">
    <a class="button" href="/admin/add-project">ADD NEW PROJECT</a>
</div>

<h1>All tags</h1>
<table>
    <tr>
        <td>Tag name</td>
        <td></td>
        <td></td>
    </tr>
    <?php
    foreach ($tags as $tag) {
        echo "<tr>";
        echo "<td>" . $tag['tag_name'] . "</td>";
        echo "<td><a href='/admin/add-tag/" . $tag['id'] ."'>Edit</a></td>";
        echo "<td><a href='/remove-tag/" . $tag['id'] ."' onclick=\"return confirm('Are you sure you want to delete?')\">Remove</a></td>";
        echo "</tr>";
    }
    ?>
</table>

<div style="padding-top: 40px; padding-bottom: 40px;">
    <a class="button" href="/admin/add-tag">ADD NEW TAG</a>
</div>

</body>

