<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/tiny-slider.css">
    <link rel="stylesheet" href="/styles/contact.css">
    <title>AMODAL</title>
</head>

<body>
    <header>
        <section class="back">
            <a href='/main'>
                <img src="/images/back.svg" alt="back">
            </a>
            <a href="/main"><span>ATRÁS</span></a>
        </section>
        <section class="name">
            <h1>CONTACTOS</h1>
        </section>
    </header>
    <section id="content">
        <section id="left-side">
            <section class="left-content">
                <h1>Amodal</h1>
                <p>Pasaje Mallol, 18 / 41003 / Sevilla </p>
                <p>esteban@amodal.es / +34 615304175 </p>
            </section>
            <section class="left-content">
                <h1>Sobre nosotros</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ante orci, molestie vitae vehicula
                    venenatis, tincidunt ac pede. Nulla est. Cum sociis natoque penatibus et magnis dis parturient
                    montes,
                    nascetur ridiculus mus. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae,
                    justo.
                    Proin in tellus sit amet nibh dignissim sagittis. Suspendisse nisl. Fusce wisi. Mauris elementum
                    mauris
                    vitae tortor. Etiam quis quam. Nullam dapibus fermentum ipsum. Vivamus luctus egestas leo.</p>
            </section>
        </section>
        <section id="right-side">
            <section id="map"></section>
        </section>
    </section>
    <section class="articles-container check-in-viewport--section">
        <section class="articles-wrap">
            <section class="articles">
                <section class="article check-in-viewport--section__item">
                    <img src="/images/logo-black.svg" alt="sample image" />
                </section>
                <section class="article check-in-viewport--section__item">
                    <img src="/images/logo-black.svg" alt="sample image" />
                </section>
                <section class="article check-in-viewport--section__item">
                    <img src="/images/logo-black.svg" alt="sample image" />
                </section>
                <section class="article check-in-viewport--section__item">
                    <img src="/images/logo-black.svg" alt="sample image" />
                </section>
                <section class="article check-in-viewport--section__item">
                    <img src="/images/logo-black.svg" alt="sample image" />
                </section>
            </section>
            <section class="controls"><span class="prev control">doleva</span><span class="next control">doprava</span></section>
        </section>
    </section>
    <script src="/scripts/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcC2AYD_XY7TvQpdBqPFBJ8Ha1eTEK4_A&callback=initMap"
        async defer></script>
    <script> document.addEventListener('DOMContentLoaded', function () {
            tns({
                container: '.articles',
                items: 5,
                slideBy: 1,
                loop: true,
                controls: true,
                controlsContainer: '.controls',
                nav: false,
                gutter: 25,
                mouseDrag: true,
                autoWidth: true,
                responsive: {
                    768: {
                        items: 5
                    },
                    650: {
                        items: 4
                    }
                }
            });
        }); 
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/min/tiny-slider.js"></script>
</body>

</html>