<body>
<link rel="stylesheet" href="/styles/adminStyle.css">

<div class="button"><a href="/admin/descriptions/<?= $projectId ?>">Back to all descriptions</a></div>

<h1>Images for <?= $description['title'] ?></h1>

<div style="margin: 30px 0px" class="button"><a href="/admin/add-image/<?= $projectId ?>/<?= $description['descriptionId'] ?>">Add new image</a></div>

<div id="adminGallery">

<?php foreach ($images as $image) { ?>
    <div class="imageContainer">
        <img class="imagesGallery" src='/<?= $image['path'] ?>' alt="<?= $image['img_description'] ?>" />
        <div class="button"><a href="/remove-image/<?= $projectId ?>/<?= $description['descriptionId'] ?>/<?= $image['imageId'] ?>"' onclick="return confirm('Are you sure you want to delete?')">REMOVE</a></div>
    </div>
<?php } ?>

</div>
</body>