<body>
<link rel="stylesheet" href="/styles/adminStyle.css">

<div class="button"><a href="/admin">Back to administration</a></div>
<h1>Descriptions for <?= $project['title'] ?></h1>
<table>
    <tr>
        <td>Title</td>
        <td>Client</td>
        <td>Objective</td>
        <td>Concept</td>
        <td>Date</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <?php
    foreach ($descriptions as $description) {
        echo "<tr>";
        echo "<td>" . $description['title'] . "</td>";
        echo "<td>" . $description['client'] . "</td>";
        echo "<td>" . $description['objective'] . "</td>";
        echo "<td>" . $description['concept'] . "</td>";
        echo "<td>" . $description['date'] . "</td>";
        echo "<td><a href='/admin/description-images/" . $project['id'] . "/" . $description['description_id'] ."'>Images</a></td>";
        echo "<td><a href='/admin/description-media/" . $project['id'] . "/" . $description['description_id'] ."'>Media</a></td>";
        echo "<td><a href='/admin/add-description/" . $project['id'] . "/" . $description['description_id'] ."'>Edit</a></td>";
        echo "<td><a href='/remove-description/" . $project['id'] . "/" . $description['description_id'] ."' onclick=\"return confirm('Are you sure you want to delete?')\">Remove</a></td>";
        echo "</tr>";
    }
    ?>
</table>

<div style="padding-top: 40px; padding-bottom: 40px">
    <a class="button" href="/admin/add-description/<?= $project['id'] ?>">ADD NEW DESCRIPTION</a>
</div>

</body>

