<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <base href="/localhost/" />
    <meta charset="UTF-8" />
    <title><?= $title ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<?= $description ?>" />
    <meta name="keywords" content="<?= $keywords ?>" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link type="text/css" rel="stylesheet" href="/styles/style.css" />
</head>

<?php $this->controller->printView(); ?>

</html>