<body>
<link rel="stylesheet" href="/styles/adminStyle.css">

<h1>Administration</h1>

<form id="loginForm" method="post">
    Username:<br>
    <input class="loginInput" type="text" name="username" value="">
    <br>
    Password:<br>
    <input class="loginInput" type="password" name="password" value="" >
    <br><br>
    <input class="button loginInput" type="submit" value="Login">
</form>

</body>