<body onload="loader()">
<link rel="stylesheet" href="/styles/mainPageStyle.css">
<link rel="stylesheet" href="/styles/loaderStyle.css">

<style>
    .head-con {
        background-image: url("/<?= $path ?>");
    }
</style>


<?php
include_once("utils/colors.inc.php");
$ex=new GetMostCommonColorsTOP();
$colors=$ex->Get_Color($path);
?>
    <?php
    // was any file uploaded?
    if ( isset( $_FILES['imgFile']['tmp_name'] ) && strlen( $_FILES['imgFile']['tmp_name'] ) > 0 )
    {
    // move image to a writable directory
    if (! move_uploaded_file($_FILES['imgFile']['tmp_name'], 'images/'.$_FILES['imgFile']['name']))
    {
        die("Error moving uploaded file to images directory");
    }
    $colors=$ex->Get_Color( 'images/'.$_FILES['imgFile']['name']);
    ?>
        <?php
        foreach ( $colors as $hex => $count )
        {}

        ?>
        <?php
        }

        $colors=$ex->Get_Color($path);
        foreach ( $colors as $hex => $count )
        {}
        ?>
    <?php
    //break up the color in its RGB components
    $r = hexdec(substr($hex,0,2));
    $g = hexdec(substr($hex,2,2));
    $b = hexdec(substr($hex,4,2));

    //do simple weighted avarage
    //
    //(This might be overly simplistic as different colors are perceived
    // differently. That is a green of 128 might be brighter than a red of 128.
    // But as long as it's just about picking a white or black text color...)
    if($r + $g + $b > 382){
        $colortop = 'black';
    }else{
        $colortop = 'white';
    }


    $ex=new GetMostCommonColorsBOTTOM();
    $colors=$ex->Get_Color($path);
    if ( isset( $_FILES['imgFile']['tmp_name'] ) && strlen( $_FILES['imgFile']['tmp_name'] ) > 0 )
    {
    // move image to a writable directory
    if (! move_uploaded_file($_FILES['imgFile']['tmp_name'], 'images/'.$_FILES['imgFile']['name']))
    {
        die("Error moving uploaded file to images directory");
    }
    $colors=$ex->Get_Color( 'images/'.$_FILES['imgFile']['name']);
    ?>
        <?php
        foreach ( $colors as $hex => $count )
        {}

        ?>
        <br />
        <?php
        }

        $colors=$ex->Get_Color($path);
        foreach ( $colors as $hex => $count )
        {}
        ?>
    <?php
    //break up the color in its RGB components
    $r = hexdec(substr($hex,0,2));
    $g = hexdec(substr($hex,2,2));
    $b = hexdec(substr($hex,4,2));

    //do simple weighted avarage
    //
    //(This might be overly simplistic as different colors are perceived
    // differently. That is a green of 128 might be brighter than a red of 128.
    // But as long as it's just about picking a white or black text color...)
    if($r + $g + $b > 382){
        $colorbot = 'black';
    }else{
        $colorbot = 'white';
    }
    ?>



<div id="loader">
    <span class="circle"><span class="circle-inner"></span></span>
    <span class="square"><span class="square-inner"></span></span>
    <span class='text'>amodal</span>
</div>
<div id="content" class="loaded">
    <nav>
        <div>
            <img src="../images/kolo.png">
            <ul>
                <a href="/projects"><li>PROYECTOS</li></a>
                <a href="/contact"><li>CONTACTO</li></a>
            </ul>
            <img src="../images/box.png">
        </div>
    </nav>

    <header>

        <div id="head-nav" onclick="myFunction()">

            <img class="back" height="100px" width="100px" src="../images/menu-<?= $colortop ?>.svg" id="navig">

        </div>

        <div class="head-con" onclick="header_link('<?=$project['url']?>')">


            <div>

                <img src="../images/logo-<?= $colorbot ?>.svg" id="logo">

            </div>


        </div>

    </header>
</div>

<script src="/scripts/magic.js"></script>
</body>
