<body>
<link rel="stylesheet" href="/styles/adminStyle.css">

<div class="button"><a href="/admin/descriptions/<?= $projectId?>/<?= $description['descriptionId']?>">Back to all descriptions</a></div>
<h1>Media for <?= $description['title'] ?></h1>
<table>
    <tr>
        <td>Url</td>
        <td>Type</td>
        <td></td>
        <td></td>
    </tr>
    <?php
    foreach ($media as $medium) {
        echo "<tr>";
        echo "<td><a href='". $medium['url']. "' target='_blank'>" . $medium['url']. "</a></td>";
        switch ($medium['type']) {
            case 0:
                echo "<td>Youtube</td>";
                break;
            case 1:
                echo "<td>Vimeo</td>";
                break;
            case 2:
                echo "<td>Soundcloud</td>";
                break;
        }
        echo "<td><a href='/admin/add-media/" . $projectId . "/" . $medium['id_description'] . "/" . $medium['id'] ."'>Edit</a></td>";
        echo "<td><a href='/remove-media/" . $projectId . "/" . $medium['id_description'] . "/" . $medium['id'] ."'>Remove</a></td>";
        echo "</tr>";
    }
    ?>
</table>

<div style="padding-top: 40px; padding-bottom: 40px">
    <a class="button" href="/admin/add-media/<?= $projectId ?>/<?= $description['descriptionId'] ?>">ADD NEW MEDIA</a>
</div>

</body>

