<body onload="loader()">

<link rel="stylesheet" href="/styles/projectListStyle.css">

<style>
    section .imagine {
    }
</style>

<link rel="stylesheet" href="/styles/loaderStyle.css">

<div id="loader">
    <span class="circle"><span class="circle-inner"></span></span>
    <span class="square"><span class="square-inner"></span></span>
    <span class='text'>amodal</span>
</div>
<div id="content" class="page">
<header id="header1">
    <div id="back">
        <?php
        if (isset($_GET['search'])) {
            $back = "/projects";
        } else {
            $back = "/main";
        }?>
        <a href="<?= $back ?>"> <img src="/images/back.svg" alt="back"> <p>ATRÁS</p></a>

    </div>
    <div id="name">
        <p>PROYECTOS</p>
    </div>
</header>
<div class="search">
    <form method="get">
    <input type="text" placeholder="BUSCAR" name="search" value="<?php if (isset($_GET['search'])) echo $_GET['search'] ?>">
    </form>
</div>
<div class="projects">

    <?php
    foreach ($projects as $index => $project) {

        ?>
        <div id="photos">
            <a href="/projects/<?= $project['url'] ?>">
                <section>
                    <div class="imagine" style="background-image: url('/<?= $mainImages[$project['id']]['path'] ?>')">
                        <div class="shape">
                            <h2><?= $project['title'] ?></h2>
                        </div>
                    </div>
                </section>
            </a>
        </div>

        <?php

    }?>

    </div>

</div>

<script src="/scripts/magic.js"></script>

</body>