
<body>

<link rel="stylesheet" href="/styles/projectDescriptionStyle.css">
<link rel="stylesheet" href="/styles/loaderStyle.css">

<div id="loader">
    <span class="circle"><span class="circle-inner"></span></span>
    <span class="square"><span class="square-inner"></span></span>
    <span class='text'>amodal</span>
</div>

<div id="content" class="page">
    <header>
        <div class="back">
            <a href="/projects"> <img src="/images/back.svg" alt="back"> <p>ATRÁS</p></a>
        </div>
                <div class="head-txt">
                    <h1>
                        <?= $title ?>
                    </h1>
                </div>
    </header>
<!--    <header id="header1">-->
<!---->
<!--        <div id="back">-->
<!--            <a href="/projects"> <img src="/images/back.svg" alt="back"></a>-->
<!--            <a href="/projects">-->
<!--                <p>BACK</p>-->
<!--            </a>-->
<!--        </div>-->
<!---->
<!--        <div class="head-txt">-->
<!--            <h1>-->
<!--                --><?//= $title ?>
<!--            </h1>-->
<!--        </div>-->
<!---->
<!--    </header>-->

    <?php foreach ($descriptions as $description) { ?>

    <div class="sec-main">


        <section class="sec-left">

            <div class="prj-info">
                <h2>
                    <?= $description['title'] ?>
                </h2>

                <h2>
                    <?php echo DateFormatter::formatDate($description['date']) ?>
                </h2>
            </div>

            <div class="prj-tag">

                <?php

                foreach ($tags[$description['description_id']] as $tag) {
                    $tagName = $tag['tag_name'];
                    echo "<a href='/projects?search=$tagName' class=\"tag\">$tagName</a>";
                }

                ?>

            </div>

            <div class="prj-desc">

                <div class="prj-article">

                    <h2>
                        Cliente
                    </h2>

                    <p>
                        <?= $description['client'] ?>
                    </p>


                </div>




                <div class="prj-article">

                    <h2>
                        Objective
                    </h2>

                    <p>

                        <?= $description['objective'] ?>

                    </p>


                </div>




                <div class="prj-article">

                    <h2>
                        Concept
                    </h2>

                    <p>
                        <?= $description['concept'] ?>

                    </p>


                </div>


            </div>

        </section>



        <section class="sec-right">

            <?php
            foreach ($media[$description['description_id']] as $medium) {
                $url = $medium['url'];
                echo "<div class='iframemedia'>";
                if ($medium['type'] == 2) {
                    echo "<iframe width=\"100%\" height=\"166\" scrolling=\"no\" frameborder=\"no\" src=\"$url\"></iframe>";
                } else {
                    echo "<div style=\"padding:56.25% 0 0 0;position:relative;\"><iframe src=\"$url\" style=\"position:absolute;top:0;left:0;width:100%;height:100%;\" frameborder=\"0\" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><p>";
                }
                echo "</div>";
            }

            ?>


            <?php if (empty($images[$description['description_id']]) && empty($media[$description['description_id']])) {
                echo "<div class='no-media'>";
                echo "<div>";
                echo "<img alt='SIN MULTIMEDIA' src='/images/no_image.svg'/>";
                echo "<p>SIN MULTIMEDIA</p>";
                echo "</div>";
                echo "</div>";
            } ?>

            <div class="img-gallery" id="gallery">

                <?php foreach ($images[$description['description_id']] as $image) {
                            $imageDescription = $image['img_description'];
                            $imgPath = $image['path'];
                            echo "<img onclick=\"window.open('/" . $image['path'] . "')\" class='images' alt='$imageDescription' src='/$imgPath'/>";
                        }

                    ?>



            </div>

        </section>


    </div>

<?php } ?>





    <section class="sim-prj">

        <h2>OTROS PROYECTOS</h2>

        <div class="sim-wrapper">

            <?php
            foreach ($anotherProjects as $project) {
                ?>
                <a style="text-decoration: none; color: #000;"
                   href="/projects/<?= $project['url'] ?>">
                    <div style="cursor: pointer;">

                        <img src="/<?= $anotherProjectsImages[$project['id']]['path'] ?>">

                        <h3><?= $project['title'] ?></h3>

                    </div>

                </a>

            <?php } ?>

        </div>
    </section>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/scripts/magic.js"></script>
<script src="/scripts/gallerySorter.js"></script>

</body>