body {
font-family: verdana;
font-size: 14px;
width: 900px;
margin: 0 auto;
}

h1 {
text-align: center;
color: #444444;
}

h2 {
text-align: left;
font-size: 20px;
color: red;
}

footer {
font-size: 11px;
text-align: center;
padding-top: 20px;
}

nav ul {
list-style-type: none;
}

nav li {
float: left;
margin-right: 15px;
}

nav a {
background: #6FA4F8;
color: white;
padding: 5px 10px;
border-radius: 10px;
text-decoration: none;
border: none;
cursor: pointer;
}

nav a:hover {
background: #2976f8;
color: #EEEEEE;
text-decoration: none;
}

.button {
background-color: black;
text-decoration: none;
color: white;
padding: 10px;
    cursor: pointer;
}

.button>a {
text-decoration: none;
color: white;
background-color: black;
padding: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    word-wrap:break-word;
    table-layout: fixed;
}

td, tr {
    border: 1px solid black;
}

td {
    padding: 5px;
}

button {
    cursor: pointer;
}

table tr:first-child {
    color: white;
    background-color: black;
}

form {
    width: fit-content;
    margin: auto;
    position: center;
}

input, select{
    width: 500px;
}

.multiselect {
    height: 150px;
}

textarea {
    width: 500px;
    height: 300px;
}

.end {
    margin-bottom: 50px;
}

.error {
    margin-top: 20px;
    padding: 20px;
    background-color: red;
    color: white;
}

.success {
    margin-top: 20px;
    padding: 20px;
    color: white;
    background-color: #00A000;
}

.loginInput {
    width: 200px;
}

.imagesGallery {
    width: 300px;
}

.imageContainer {
    flex: 3;
}

.imageContainer .button {
    width: fit-content;
}

.adminGallery {
    display: flex;
}

.tr {
    min-height: 60px;
}