*{
    font-family: Karla, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #000000;
}

header {
    height: 10vh;
    display: flex;
    margin: 3.5vh;
}

header * {
    display: flex;
}

header .back {
    flex-grow: 1;
    align-items: center;
    user-select: none;
}

header .back img{
    width: auto;
    height: 5vh;
}

header .back span {
    font-weight: bold;
    margin-left: 1vh;
    font-size: 3vh;
}

header .name{
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    user-select: none;
    }

header .name h1 {
    font-size: 7vh;
}

#content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#left-side, #right-side {
    max-height: 50vh !important;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2vw;
}

.left-content, .right-content {
    flex: 1;
}

#map {
flex: 1;
user-select: none;
}

@media (max-width: 760px) {
    
    header .back span {
        display: none;
    }

  #content {
      flex-direction: column;
  }

   #map {
       height: 50vh;
       width: auto;
   }
}





.articles-container {
display: flex;
justify-content: flex-end;
    align-self: flex-end;
flex-flow: column;
/*margin: 3.5vh; */
width: 100%;
user-select: none;

overflow: hidden;
}

.articles-wrap {
position: relative;
}


.controls {
align-self: flex-end;
margin-top: 2rem;
margin-right: 5%;
outline: 0;
}

.control {
font-size: 2.75em;
outline: 0;
color: #bdbdbd;
display: none;
}


.tns-complete {
    width: 55vh;
}

.control[aria-disabled="false"], .control:not([aria-disabled]) {
cursor: pointer;
transition: all .2s ease-in-out;
}

.control[aria-disabled="false"]:hover, .control:not([aria-disabled]):hover {
color: black;
}

.control[aria-disabled="true"] {
color: #e7e7e7;
}

.control.prev {
margin-right: 1em;
}



