

/*loader*/

#loader{
    width:100%;
    height: 100vh;
    background-color: #202020;
}

#content{
    display: none;
}

@font-face {
    font-family: LarishAlte;
}
body, html{
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    font-family: 'LarishAlte';
    text-align: center;
}
span{
    margin: .2%;
}
.circle{
    border-radius: 100%;
}
.text{
    display: inline-block;
    position: relative;
    top: 52%;
    color: #ffffff;
    font-size: 4em;
}
.square {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #FBFBFB;
    top: 50%;
    animation: loader 4s infinite ease;
}
.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #FBFBFB;
    top: 50%;
    animation: loader 4s infinite ease;
}

.square-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #FBFBFB;
    animation: loader-inner 4s infinite ease-in;
}
.circle-inner {
    border-radius: 100%;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #FBFBFB;
    animation: circle-inner 4s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(180deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes circle-inner {
    0% {
        height: 0%;
        width: 25%;
    }

    25% {
        height: 0%;
        width: 50%;
    }

    50% {
        height: 100%;
        width: 100%;
    }

    75% {
        height: 100%;
        width: 50%;
    }

    100% {
        height: 0%;
        width: 25%;
    }
}
@-webkit-keyframes circle-inner {
    0% {
        height: 0%;
        width: 25%;
    }

    25% {
        height: 0%;
        width: 50%;
    }

    50% {
        height: 100%;
        width: 100%;
    }

    75% {
        height: 100%;
        width: 50%;
    }

    100% {
        height: 0%;
        width: 25%;
    }
}
@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
@-webkit-keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
@keyframes loaded {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes loaded {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
