* {
    margin: 0;
}

.active {
    transform: translateX(0);
}

nav {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(30, 30, 30,0.7);
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
    display: flex;

}
nav .active {
    transform: translateX(0);
}


nav div{
    display: flex;

    align-items: center;
    margin: auto;
}

nav ul{
    margin: auto 10vw;
    padding: 0;
    list-style: none;
    text-align: center;
}
nav ul li{
    line-height: 2em;
    font-size: 3em;
    font-family: 'Karla', sans-serif;
    color: #fefefe;
}

nav img{
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

header{
    height: 100vh;
    width: auto;
}
header #head-nav{
    margin: 2vw;
    cursor: pointer;
    z-index: 15;
    position: absolute;
    right: 0;
}
.head-con{
    height: inherit;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

.head-con div{
    display: flex;
    justify-content: flex-end;

    flex-grow: 1;
}


.head-con div img{
    margin: 2vw;

    height:min-content;
    width: min-content;
}

.head-con div{
    align-items: flex-end;
}



@media only screen and (max-width: 768px) {
    #logo {
        width: 95% !important;
        height: auto !important;

    }
    nav{
        -webkit-flex-flow: column wrap;
        justify-content: column wrap;
        padding: 0;
    }
    nav img {
        height: 150px;
        width: 150px;
    }
    nav ul li {
        font-size: 25px;
    }
    nav div {
        flex-direction: column;
    }
    #head-nav {
        width: 60px;
        height: 60px;
        padding: 10px;
    }

    #head-nav img {
        width: 50px;
        height: 50px;
    }

    nav img{
        padding: 20px;
        height: 60px;
        width: 60px;
    }
}

#back {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
}
#back img {
    width: 65px;
}
#back p {
    font-size: 38px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
}
#name {
    display: flex;
    flex-direction: row;
}
#name p {
    font-size: 38px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
}

#line > header {
    height: auto;
    align-content: center;
    display: flex;

}


.back{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}
.rotate{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}

#logo {
    width: 45%;
    height: auto;
}