* {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: white !important;
}

.page {
    padding: 3vw;
    margin: auto;
    max-width: 1300px;
}

header {
    height: 50px;
    display: flex;
    margin-bottom: 3vw;
}
header * {
    display: flex;
}
header .back{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

header .back a{
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none !important;
}
header .back a p{
    color: #000;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase !important;
}


header .back a img{
    width: 80px;
    margin-right: 1vw;
}
header .head-bck {
    flex-grow: 1;
    align-items: center;
}
header .head-bck img {
    width: auto;
    height: 7vh;
}
header .head-txt {
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
header .head-txt h1 {
    font-size: 50px;
    font-family: 'Karla', sans-serif;
}

.sec-main {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.sec-left * {
    display: flex;
}
.sec-main .sec-left {
    overflow: hidden;
    padding-right: 1vw;
    flex: 1;
    height: auto;
    flex-direction: column;
}
.sec-main .sec-left .prj-info {
    flex-direction: row;
    width: 100%;
}
.sec-main .sec-left .prj-info h2 {
    text-align: left;
    flex-grow: 1;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.sec-main .sec-left .prj-info h2:nth-child(2) {
    vertical-align: text-bottom;
    margin-left: 40px;
    justify-content: flex-end;
}
.sec-main .sec-left .prj-tag .tag {
    font-family: 'Karla', sans-serif;
    color: white;
    background-color: black;
    border: 1px solid black;
    margin-right: 0.5vw;
    padding: 0.3vh;
    cursor: pointer;
}

.no-media {
    align-self: center;
    height: 100%;
    margin: auto;
    width: 30%;
    display: flex;
}

.no-media div {
    align-self: center;
}

.no-media img {
     display: inline-block;
     width: 100%;
     height: auto;
 }

.no-media p {
    margin-top: 20px;
}

.tag {
    padding: 5px 8px !important;
    margin-bottom: 10px;
    text-decoration: none;
}

.prj-tag {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.sec-main .sec-left .prj-desc {
    margin-top: 3vh;
    flex-direction: column;
}
.sec-main .sec-left .prj-desc .prj-article {
    font-family: 'Karla', sans-serif;
    flex-direction: inherit;
    text-align: justify;
    margin-bottom: 3vh;
}
.sec-main .sec-left .prj-desc .prj-article h2 {
}
.sec-main .sec-right {
    flex-direction: column;
    padding-left: 1vw;
    height: auto;
    flex: 1;
    overflow: hidden;
}
.sec-main .sec-right .img-gallery {
    justify-content: left;
    flex-wrap: wrap;
}
.sec-main .sec-right .img-gallery img {

}
.sec-main .sec-right iframe {
    margin: 4vh 0;
    width: 100% !important;
    margin: 0;
}

.sim-prj * {
    display: flex;
    font-family: 'Karla', sans-serif;
}
.sim-prj h2 {
    font-size: 30px;
    margin: 2vh 0;
}
.sim-prj .sim-wrapper {
    justify-content: space-between;
    flex-direction: row;
}
.sim-prj .sim-wrapper div {
    flex-direction: column;
    flex: 1;
    padding: 10px;
}
.sim-prj .sim-wrapper div img {
    width: 100%;
    height: 65%;
    margin-bottom: 2vh;
    object-fit: cover;
}
.sim-prj .sim-wrapper div h3 {
    text-decoration: none;
    font-size: 1.4em;
}
.sim-prj .sim-wrapper div div {
    width: 100%;
    flex-direction: row;
}
.sim-prj .sim-wrapper div div p {
    font-size: 1.2em;
    flex: 1;
}
.sim-prj .sim-wrapper div div span {
    flex: 1;
    padding-right: 20px;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.6em;
    cursor: pointer;
}

@media only screen and (max-width: 760px) {

    header .back a img {
        width: 10vw;
        margin-right: 1vw;
    }
     header #back a p{
        color: #000;
        font-size: 25px;
        font-family: 'Karla', sans-serif;
        font-style: normal;
        text-decoration: none;
        font-weight: bold;
         text-transform: uppercase;
     }

    header .head-txt{
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
    }


    header .head-txt h1 {
        font-size: 30px;
    }

    header {
        justify-content: center;
        height: 15vh;
        display: flex;
        margin-bottom: 3vw;
        flex-direction: column;
        align-items: center;
    }

    .sec-main {
        display: flex;
        flex-direction: column;
    }
    .sec-left {
        display: flex;
    }

    .sim-prj * {
        display: flex;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .sim-prj h2 {
        font-size: 20px;
        margin: 2vh 0;
    }
    .sim-wrapper h3 {
        text-decoration: none;
    }
    .sim-prj .sim-wrapper {
        justify-content: space-between;
        flex-direction: column;
    }
    .sim-prj .sim-wrapper div {
        flex-direction: column;
        margin-bottom: 2vh;
    }
    .sim-prj .sim-wrapper div img {
        width: 100%;
        height: auto;
        margin-bottom: 2vh;
    }
    .sim-prj .sim-wrapper div div {
        width: 100%;
        flex-direction: row;
    }
    .sim-prj .sim-wrapper div div p {
        font-size: 1.2em;
        flex: 1;
    }
    .sim-prj .sim-wrapper div div span {
        flex: 1;
        justify-content: flex-end;
        font-weight: bold;
        font-size: 1.4em;
        cursor: pointer;
    }

    .sec-main .sec-right {
        padding: 0;
    }
    .sec-main .sec-right .img-gallery {
        flex-direction: column;
    }
    .sec-main .sec-right .img-gallery img {
        width: 100%;
        height: auto;
        margin: 0 0 10px 0;
    }
    .sec-main .sec-left {
        padding: 0;
    }

    .sim-prj h2 {
        font-size: 2em;
    }
}

.images {
    display: block;
    float: left;
    height: auto;
    margin: 2px;
    cursor: pointer;
}

#gallery {
}

.iframemedia {
    padding-bottom: 20px;
}


#back {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
}

#back img {
    margin-right: 10px;
    width:40px;
}

#back p{
    color: #000;
    font-size: 38px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */
