* {
    margin: 0;
}

.active {
    transform: translateX(0);
}


@media only screen and (max-width: 768px) {
        header{
            height: 20vh;
            display: flex;
            flex-direction: column;
            margin-bottom: 3vw;
        }
        .back{
            height: inherit;
            display: flex;
            flex-direction: column;

        }
}




nav {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.7);
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
    display: flex;

}

nav .active {
    transform: translateX(0);
}


nav div {
    display: flex;

    align-items: center;
    margin: auto;
}

nav ul {
    margin: auto 10vw;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    line-height: 2em;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fefefe;
}

nav img {
    height: 200px;
    width: 200px;
}

header {
    height: 100vh;
    width: auto;
}

header #head-nav {
    margin: 2vw;

    z-index: 15;
    position: absolute;
    right: 0;
}

.head-con {

    height: inherit;
    background-image: url('img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

.head-con div {
    display: flex;
    justify-content: flex-end;

    flex-grow: 1;
}


.head-con div img {
    margin: 2vw;

    height: min-content;
    width: min-content;
}

.head-con div {
    align-items: flex-end;
}

.page {
    padding: 3vw;
    margin: auto;
    max-width: 1300px;
}


/*mobile verze main page*/

@media only screen and (max-width: 768px) {
    #logo {
        width: 95%;
        height: auto;

    }

    nav {
        -webkit-flex-flow: column wrap;
        justify-content: column wrap;
        padding: 0;
    }

    nav img {
        height: 150px;
        width: 150px;
    }

    nav ul li {
        font-size: 25px;
    }

    nav div {
        flex-direction: column;
    }
}

/* header projects page*/
#header1 {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#back,
#name {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#back img {
    width: 65px;
    margin-right: 2vw;

}

#back p {
    font-size: 38px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
}

#name p {
    font-size: 50px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    padding: 5px;
}

#back {
    /* float: left; */
    display: flex;
    flex: 1;
}

#back a {
    text-decoration: none;
    padding: 5px;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;

}

#name {
    justify-content: flex-end;
}

/* search engin*/

.search {
    padding-left: 15px;
    display: flex;
    justify-content: center;
}

.search form {
    width: 30% !important;
}

.search input[type=text] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

/* project list*/
.projects {
    width: 100%;
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



#photos {
    margin-bottom: 5vh;
    justify-content: center;
    display: flex;
}


section .imagine,
.shape {
    margin: auto;
    width: 500px;
    height: 200px;
}

section .imagine {
    background-position: center;
    background-size: cover;
}

section .shape {
    clip-path: polygon(73% 0, 100% 0, 100% 100%, 27% 100%);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

section h2 {
    padding: 0 2vw 1.5vh 0;
    color: white;
    line-height: 0.7em;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;

    max-width: 50vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



section h2:nth-child(1) {
    font-size: 25px;
    line-height: inherit;
}

#photos a {
    text-decoration: none;
}

#photos a:hover h2 {
    color: #444e56;
}

/* For mobile phones: */

@media only screen and (max-width: 768px) {

    /*
    body {
    display: none;
  }
  */
    .projects{
        display: flex;
        justify-content: center;
    }
    #name p {
        display: flex;
        justify-content: center;
    }

    #back img {
        width: 40%;
    }

    .post {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    #photos {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .search {
        display: flex;
        justify-content: left;
        width: 100%;
        box-sizing: border-box;
    }

    .search input {
        width: auto !important;
    }

    section .imagine {
        width: 100%;

    }

    section .imagine .shape {
        width: 90vw;

    }

    .imagine h2 {
        font-size: 18px;
    }



}
@media only screen and (max-width: 768px) {

    #header1 {
        height: 30vh;
        display: flex;
        flex-direction: column;
    }
    /*
    body {
    display: none;
  }
  */

    #back {
        /* float: left; */
        display: flex;
        flex: 1;
        margin-bottom: 25px;
    }
    .projects{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #name p {
        display: flex;
        justify-content: center;
    }

    #back img {
        width: 65px;
    }

    .post {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    #photos {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .search {
        display: flex;
        justify-content: left;
        width: 100%;
        box-sizing: border-box;
    }

    .search form {
        width: 100% !important;
    }

    .search input {
        width: auto !important;
    }

    section .imagine {
        width: 100%;

    }

    section .imagine .shape {
        width: 90vw;

    }

    .imagine h2 {
        font-size: 18px;
    }



}
@media only screen and (min-width: 765px) {

    /*
    body {
    display: none;
  }
  */

    section h2 {
        padding: 0 2vw 1.5vh 0;
        color: white;
        line-height: 0.7em;
        text-transform: uppercase;
        font-family: 'Karla', sans-serif;

        max-width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }


}
@media only screen and (min-width: 1036px) {

    /*
    body {
    display: none;
  }
  */

    section h2 {
        padding: 0 2vw 1.5vh 0;
        color: white;
        line-height: 0.7em;
        text-transform: uppercase;
        font-family: 'Karla', sans-serif;
        max-width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }


}
