/*body {*/
    /*font-family: verdana;*/
    /*font-size: 14px;*/
    /*width: 900px;*/
    /*margin: 0 auto;*/
/*}*/

/*h1 {*/
    /*text-align: center;*/
    /*color: #444444;*/
/*}*/

/*h2 {*/
    /*text-align: left;*/
    /*font-size: 20px;*/
    /*color: red;*/
/*}*/

/*footer {*/
    /*font-size: 11px;*/
    /*text-align: center;*/
    /*padding-top: 20px;*/
/*}*/

/*nav ul {*/
    /*list-style-type: none;*/
/*}*/

/*nav li {*/
    /*float: left;*/
    /*margin-right: 15px;*/
/*}*/

/*nav a {*/
    /*background: #6FA4F8;*/
    /*color: white;*/
    /*padding: 5px 10px;*/
    /*border-radius: 10px;*/
    /*text-decoration: none;*/
    /*border: none;*/
    /*cursor: pointer;*/
/*}*/

/*nav a:hover {*/
    /*background: #2976f8;*/
    /*color: #EEEEEE;*/
    /*text-decoration: none;*/
/*}*/

/*.button {*/
    /*background-color: black;*/
    /*text-decoration: none;*/
    /*color: white;*/
    /*padding: 10px;*/
/*}*/

/*.button>a {*/
    /*text-decoration: none;*/
    /*color: white;*/
    /*background-color: black;*/
    /*padding: 10px;*/
/*}*/

/*table {*/
    /*border-collapse: collapse;*/
/*}*/

/*td, tr {*/
    /*border: 1px solid black;*/
/*}*/

/*td {*/
    /*padding: 5px;*/
/*}*/

/*#loginForm {*/
    /*width: fit-content;*/
    /*margin: auto;*/
    /*position: center;*/
/*}*/


